:root *{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: var(--background);
}

@media (max-width: 768px) {
    body {
        background-position: 50% 50%;
    }
}

@media (max-width: 480px) {
    body {
        background-position: 50% 50%;
    }
}

/*Header*/
nav{
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    z-index: 1000;
}
.heading{
    display: flex;
    flex-direction: row;
    column-gap: 39.8%;
}
.heading h1{
    color: white;
    text-align: center;
    font-size: 40px;
    letter-spacing: 3.3px;
}
.heading img{
    width: 40px;
    background-color: white;
    border-radius: 50%;
    height: auto;
    object-fit: contain;
}
.button{
    display: flex;
    justify-content: space-between;
    padding-left: 70%;
    padding-right: 3%;
}
.button a{
    text-decoration: none;
    color: white;
    padding: 2%;
}
.button :hover{
    background-color: red;

}
/*footer*/
footer{
    display: flex;
    flex-direction: column;
    
}
.upper{
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 100%;
    height: 28%;
    bottom: 5px;    
}
.copyright{
    color: white;
    background-color: gray;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
.logo{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
}
.logo img{
    display: flex;
    padding: 5%;
    background-color: white;
    border: 2px solid red;
    border-radius: 50%;
    width: 60px;
    object-fit: contain;
    margin-bottom: 7px;
}
.logo p{
    color: white;
    font-family: cursive;
    text-align: center;
    font-size: 13px;
    padding-left: 10%;
}
.que{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
}
.que h3{
    color: white;
    font-weight: bold;
}
.que a{
    color: white;
    text-decoration: none;
    line-height: 190%;
}
.que p{
    text-align: left;
}
.infor{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
}
.infor h3{
    color: white;
    font-weight: bold;
}
.infor p{
    color: white;
    text-align: middle;
}
.infor table{
    padding: 1%;
}
#Location{
    width: 30px;
    height: 30px;
    background: url(Assets/contact1.png) -20px -20px;
    background-size: 150px 80px;
    background-repeat: no-repeat;
    border-radius: 50%;
}
#Telephone{
    width: 30px;
    height: 30px;
    background: url(Assets/contact1.png) -56px -21px ;
    background-size: 150px 80px;
    border-radius: 50%;
    background-repeat: no-repeat;
}
#Email{
    width: 30px;
    height: 30px;
    background: url(Assets/contact1.png)  -95px -19px;
    background-size: 150px 80px;
    border-radius: 50%;
    background-repeat: no-repeat;
}
.map{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;  
}
.map h3{
    color: white;
    font-weight: bold;
}
/*Content*/
.details{
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 3%;
    margin: 40px;
    background-color: lightseagreen;
    justify-content: left;
    border-radius: 10px;
}
.head hr{
    width: 25%;
    height: 3px;
    background-color: black ;
    border: 1px solid black;
}
.head h1{
    letter-spacing: 1px;
}
.head h1::first-letter{
    font-size: 2em;
}
.fill{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
}
.fill input{
    padding: 5px;
    margin-top: 10px;
    border: none;
    transition: 0.3s ease-in-out;
}
#design{
    padding: 5px;
    text-decoration: none;
    height: 50px;
}
.submit{
    letter-spacing: 10px;
    background-color: yellow;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 5px;
    margin-top: 20px;
    width: 100%;
    border-radius: 20px;
    border: none;
}
.details a{
    text-decoration: none;
}
.fill input:hover{
    background-color: rgb(250, 250, 83);
}
#design:hover{
    background-color: rgb(250, 250, 83);
}
.fill input:focus{
    background-color: rgb(250, 250, 83);
}
#design:focus{
    background-color: rgb(250, 250, 83);
}